# --- Discord & Network ---
discord.py==2.7.1
aiohttp==3.13.4

# --- Machine Learning & Data ---
torch==2.11.0
torchaudio==2.11.0
torchvision==0.26.0
pandas==3.0.1
scikit-learn==1.8.0

# --- Environment & Utilities ---
python-dotenv==1.2.2
pytest==9.0.3
pytest-asyncio==0.23.6

# --- Visualization
matplotlib==3.10.8
seaborn==0.13.2
joblib==1.5.3
requests==2.33.1
aiofiles==25.1.0